.aside {
	background-color: var(--main-background);
	height: 100%;
	max-width: 10vw;
	width: 100%;
	z-index: 1000;
	border-right: solid 1px rgb(80, 80, 80);
	margin-bottom: 20%;
}

.erick-aside-grid{
	display: grid;
	max-width: inherit;
	height: inherit;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 3fr 1fr;
	row-gap: 1%;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10%;
	margin-bottom: 0px;
	align-items: center;
	text-align: center;
}

.asideLogoEinar img{
	filter: var(--invert);
	margin: 0 auto;
	width: 80%;
	object-fit: cover;
}

.aside section div div input{
	width: 100%;
	height: 60px;
	object-fit: cover;
	max-height: 100px;
	min-height: 50px;
}

.erick-social-media{
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 1fr;
	row-gap: 10%;
	padding-bottom: 20px;
	width: 100%;
	margin: 0 auto;
	align-items: center;
}

.erick-aside-grid div h3{
	font-size: 90%;
	margin-bottom: 5%;
	color: var(--text-color);
}
.erick-aside-grid div div p{
	font-size: 90%;
	margin-top: 5%;
	margin-bottom: 10%;
	color: var(--text-color);
}

/** -------------------------------
-------RESPONSIVE MOVIL -----------
-------------------------------- **/
@media only screen and (max-width:800px) {

 	.aside{
		background-color: var(--main-background);
		width: 100%;
		height:100%;
		max-width: 100vw;
		min-height: 100px;
	}

	.erick-aside-grid{
		display: grid;
		width: 100%;
		max-width: 100vw;
		height: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .2fr;
		margin: auto 0;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 5%;
		padding-bottom: 5%;
		align-items: center;
		text-align: center;
	}

	.asideLogoEinar{
		display: none;
	}

	.erick-mobile-grid{
		display: grid;
		width: 100%;
		column-gap: 15px;
		grid-template-columns: repeat(4, 1fr);
		height: fit-content;
	}
	.erick-mobile-grid h3{
		grid-column: span 4;
	}

	.erick-social-media{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr .1fr;
		width:50%;
	}
	.erick-social-media h3{
		grid-column: span 3;
	}
	.erick-social-media i{
		transform: scale(2);
	}
	.erick-aside-grid div h3{
		font-size: 120%;
		margin-bottom: 5%;
	}
	.erick-aside-grid div div p{
		font-size: 90%;
		margin-top: 5%;
		margin-bottom: 10%;
	}
}