@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* mobile */

* {
  /* outline: 1px black solid; */
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

header{
  display: flex;
  flex-direction: row;
  height: 20%;
  user-select: none;
}

#year-display{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}

#larrow, #rarrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

#year-text{
  cursor: default;
  text-align: center;
  width: 200px;
}

#barra {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: lightgrey;
}

#month-display{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

#wrapper-previous-month, #wrapper-next-month{
  display: flex;
  justify-content: center;
  position: relative;
  left: 30px;
  width: 150px;
}

#previous-month, #next-month{
  cursor: pointer;
  width: fit-content;
}

#actual-month{
  cursor: default;
  width: fit-content;
}

#wrapper-actual-month{
  display: flex;
  justify-content: center;
  position: relative;
  left: 30px;
  width: 350px;
}

main{
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.3fr repeat(6, 1fr);
  margin: 0% 10% 4% 10%;
  border: 6px solid;
  border-radius: 5px;
  margin-left: 35px;
  box-sizing: content-box;
  border: 1px ;
  min-width: 400px;
}

.emtpyDay {
  border: 1px solid rgb(245, 245, 245);
  border-bottom: 1px;
  padding: 10px 10px;
  overflow: auto;
}

.week-day{
  text-align: center;
  color: #695eff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid rgb(241, 241, 241);
  padding: 5%;
}

.grid-day{
  border: 1px solid rgb(245, 245, 245);
  border-bottom: 1px;
  color: black;
  font-weight: 700;
  font-size: 25px;
  padding: 10px 10px;
  overflow: auto;
  animation-name: showDay;
  animation-duration: 1s;
}

@keyframes showDay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover-class:hover {
  border-radius: 2px;
  box-shadow: 0px 0px 0px 4px #695eff;
  z-index: 100;
}

h3{
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 20px;
}

#actual-month {
  padding: 2%;
  background-color: white;
  margin: 0;
}

#next-month {
  padding: 2%;
  background-color: white;
  margin: 0;
}

#previous-month {
  padding: 2%;
  background-color: white;
  margin: 0;
}

#next-month:hover {
  transform: scale(1.25);
  transition: all 300ms;
  transform: translate(3);
}

#previous-month:hover {
  transform: scale(1.25);
  transition: all 300ms;
  transform: translate(3);
}

#add-event-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: 7%;
  right: 4%;
  width: 60px;
  height: 60px;
  padding: 0px;
  border: none;
  font-size: 60px;
  color: white;
  background-color: #695eff;
  transition: all .2s ease-in-out;
  cursor: pointer;
  outline: none;
}

#add-event-button:hover{
  background-color: rgb(255, 70, 70);
  color: white;
  font-weight: bold;
  transform: scale(1.1);
  transition: all 300ms;
  transform: translate(3);
  transform: rotate(90deg);
}

.form-popup{
  overflow: hidding;
  box-sizing: content-box;
  display: none;
  z-index: 9;
  bottom: 0;
  right:15px;
}

.popup-inside{
  flex-grow: 3;
  max-width: 700px;
  padding: 5px;
}

#EventDate{
  background-color: white;
  backdrop-filter: blur(5px);
  height: 75%;
  width: 50%;
  position: absolute;
  top: 12.5%;
  left: 25%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  border-radius: 10px;
  padding: 3% 3% 3% 3%;
  animation-name:widthSize;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.eventVisualContent {
  display: flex;
  animation-name: showEvent;
  animation-duration: 2s;
}

#eventVisualHeader {
  animation-name: showEvent;
  animation-duration: 2s;
  font-size: 30px;
  margin: 0;
  margin-bottom: -8%;
}

.eventVisualType {
  display: flex;
  animation-name: showEvent;
  animation-duration: 2s;
}

@keyframes showEvent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#inDate{
  width: 50%;
}

#fiDate {
  width: 50%;
}

#typeText {
  width: 50%;
}

#typeText h5{
  justify-content: left;
}

#description {
  width: 50%;
}

#description h5 {
  max-width: 100%;
  justify-content: left;
}

.titleDataContent {
  background-color: rgb(245, 245, 245);
  max-width: 70%;
  padding: 4%;
  border-radius: 5%;
  font-weight: 300;
  display: flex;
  justify-content: center;

}

.titleDataContent div {
  margin-left: 10px;
}

.titleDataTime {
  background-color: #695eff;
  max-width: 40%;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 3%;
  border-radius: 5px;
}

.titleDataTime h5{
  margin: 0;
}

#EventDate div.enventTittle{
  width: 80%;
  height: 100px;
  border-bottom: none;
  padding-bottom: 20px;
  font-weight: bold;
}

#fondo, #background-DayEvents{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 80;
  position: absolute;
  align-content: center;
  animation-name:backgroundAperars;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes backgroundAperars {
  0% {opacity: 0;}

  100% {opacity: 1;}
}

@keyframes widthSize {
  0% {width:  2%;
      height: 2%;}

  50%{height: 50%;}

  100% {width: 50%;}
}

#eventContent{
  position:absolute;
  z-index: 0;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.closeButton-box{
  margin-left: 95%;
}

#closeButton-shape{
  position:absolute;
  margin-bottom: 4px;
  color: #695eff;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  color: #695eff;
}

#closeButton-visual {
  margin-left: 95%;
  color: #695eff;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  color: #695eff;
}

form{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  height: 100%;
  width: 30%;
  top:0%;
  left: 35%;
  padding: 2% 2% 2% 2%;
  background-color: white;
  border-radius: 1.5%;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
}

#cancel-button {
  float: right;
  padding: 3% 5% 3% 5%;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 17px;
  color:white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:  rgb(255, 70, 70);
}

#cancel-button:hover {
  background-color: rgb(255, 70, 70);
  border: 3px solid rgb(255, 70, 70);
  color: white;
}

#eliminate-button {
  float: right;
  padding: 2% 2% 2% 2%;
  margin-top: 20px;
  margin-left: 70%;
  font-weight: bold;
  font-size: 17px;
  color:white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:rgb(255, 70, 70);
}

#eliminate-button:hover {
  border: 3px solid rgb(255, 70, 70);
}

#create-button {
  float: right;
  padding: 3% 5% 3% 5%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:rgb(105, 94, 255);
}

#create-button:hover {
  background-color: rgb(105, 94, 255);
  border: 3px solid rgb(105, 94, 255);
  color: white;
}

.buttonStyles{
  position: relative;
  overflow: hidden;
  height: 250px;
  margin-bottom: 20px;
  
}

.buttonStyles label{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  font-weight: 700;
  bottom: 0%;
  border-bottom: 2px solid rgb(235, 235, 235);
  transition: 2s;
  pointer-events: none;
}

.buttonStyles input{
  cursor: pointer;
  min-width: 5%;
  border: none;
  padding-top: 20px;
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: 100%;
  outline: none;
}

.eventTittle-name{
  position: absolute;
  bottom: 0px;
  transition: 0.5s ease;
 
}

.buttonStyles label::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-7deg, rgb(105, 94, 255),  rgb(248, 247, 253) ,  rgb(255, 255, 255) );
  border-bottom: 1px solid rgb(105, 94, 255);
  left: 0%;
  bottom: 0%;
  transform: translateX(100%);
  transition: 0.5s ease;
  opacity: 0.3;
}

.checkoxStyles{
  margin-bottom: 20px;
}

form select{
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  margin-bottom: 6%;
  margin-top: 3%;
  transition: 0.5s ease;
  outline:none;
  background: linear-gradient(5deg,rgba(170, 170, 172, 0.1),rgba(248, 247, 253,0));
  transition: 1s;
  border: none;
  border-bottom: 1px solid black;
}

form textarea{
  cursor: pointer;
  border: none;
  border-bottom: 1px solid black;
  resize: none;
  transition: 0.5s ease;
  outline:none;
  height: 10%
}

form label{
  font-weight: 500;
}

#finalDateName{
  color: rgb(161, 161, 161);
  font-weight: 300;
  font-size: 15px;
  transition: 0.5s ease;
}

.RemindLabel{
  color: rgb(161, 161, 161);
  font-weight: 300;
  font-size: 15px;
  transition: 0.5s ease;
}

#selctStyles {
  margin-top: 20px;
}

#new-event-specific {
  background-color: #ff4646;
  border: none;
  float: right;
  padding: 1% 4% 1% 4%;
  color: white;
  border-radius: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#new-event-specific:hover {
  box-shadow: 0px 0px 0px 2px rgb(255, 70, 70);
}
form textarea:focus ,
form textarea:valid {
  height: 70%;
}

div.buttonStyles input:focus + .label-name .eventTittle-name,
div.buttonStyles input:valid + .label-name .eventTittle-name{
  transform: translateY(-20px);
  color:rgb(105, 94, 255);
  font-size: 10px;
}

div.buttonStyles input:focus + .label-name::after,
div.buttonStyles input:valid + .label-name::after{
  transform: translateX(0%);
}

.event-box{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  max-width: 180px;
  max-height: 20px;
  font-size: 15px;
  background-color: black;
  border-radius: 4px;
  color:white;
  cursor: pointer;
}

.event-box p{
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.more-event-box{
  cursor: default;
  text-align: center;
  font-size: 20px;
}

/* MEDIA QUERYS */
@media screen and (max-width: 540px) {
  body {
    box-sizing: border-box;
  }

  .event-box{
    font-size: 7px;
    text-overflow: clip;
  }

   #formEvent{
    font-size: 15px;
    min-width: 300px;
  } 

  form{
    animation-name:widthSize;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    z-index: 100;
    margin:  20% 5% 5%;
    padding: 2% 2% 2% 2%;
    height: 600px;
    background-color: white;
    box-sizing: content-box;
    border-radius: 1.5%;
    box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  }

  #EventDate{
    margin: 15% 30%;
    min-width: 300px;
    min-height: 250px;
      background-color: white;
      backdrop-filter: blur(5px);
      width: 40%;
      height: 70%;
      position: absolute;
      margin: 10% 15%;
      z-index: 100;
  }
  
  #fondo {
  width: 150%;
  }

  div.week-day{
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 30px;
  }

  #add-event-button{
    border-radius: 2%;
    position: relative;
    box-sizing: border-box;
    bottom: 3%;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 40px;
    color: white;
    background-color: #695eff;
    margin: 30px;
    transition: all .2s ease-in-out;
  }

  #eliminate-button{
    width: 35%;
    margin-left: 68%;
  }

  #month-display{
    display: flex;
    max-width: 300px;
    flex-direction: column;
    margin-top: 20px;
  }

  .month{
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 300px;
    text-overflow: ellipsis;
  }

  #year-display{
      font-size: 20px;

  }
}

/* tablet screen */
@media screen and (min-width: 540px) and (max-width: 1280px) {
  form{
    font-size: small;
    padding: 5px 5px 5px 5px;
    animation-name:widthSize;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    font-size: 15px;
    z-index: 100;
    margin:  5% 25% 5%;
    padding: 2% 2% 2% 2%;
    height: 650px;
    box-sizing: content-box;
    border-radius: 1.5%;
    box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  }

  .titleDataContent
  {
    font-size: 15px;
  }
  
  #EventDate{
    margin: 10% 25%;
    background-color: white;
    backdrop-filter: blur(5px);
    width: 40%;
    height: 80%;
    position: absolute;
    z-index: 100;
    font-size: 15px;
  }

  #eliminate-button{
    width: 35%;
    margin-top: 65px;
    margin-left: 185px;
    font-size: 15px;
  }

  div.week-day{
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 30px;
}
}

@media (orientation: landscape) {

.numberDayGrid{
  cursor: default;
}

#window-DayEvents{
  display: flex;
  flex-direction: column;
  background-color:  rgba(255, 255, 255);
  width: 50%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  left: 25%;
  z-index: 100;
  align-items: center;
  box-shadow: 0px  0px 17px 6px rgb(235, 235, 235);
  border-radius: 1.5%;
  animation-name:widthSize;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

#title-DayEvents{
  display: flex;
  align-items: center;
  height: 75px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 2%;
}

#separator-DayEvents{
  height: 2px;
  width: 85%;
  background-color: black;
  border-radius: 50%;
}

#section-DayEvents{
  flex-grow: 1;
  width: 90%;
  margin: 5%;
  overflow: auto;
}

.wrapper-event{
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: #695eff;
  color: white;
  font-weight: bold;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-event img:hover{
  transform: scale(0.8);
  transition: all 200ms;
  transform: translate(3);
}

.addNewEvent input {
  border-radius: 100%;
  position: absolute;
  bottom: 0%;
  right: 1%;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 40px;
  color: white;
  background-color: #695eff;
  margin: 30px;
}

section.reminder{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0px;
  min-width: 20%;
}

div.remindContent{
  display: flex;
  flex-direction: column;
  right: 0px;
  min-width: 30%;
  position: relative;
}

div.reminders{
  display: flex;
  flex-direction: row;
  min-width: 30%;
  min-height: 30px;
  background: linear-gradient(30deg,rgb(74, 64, 250),rgb(255, 255, 255));
  color: white;
  padding: 10px 10px;
  border-radius: 10px 10px 10px 10px;
  animation-name: show;
  animation-duration: 1s;
  animation-timing-function: ease;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 90%;
}

div.reminderText{  
  flex-direction: column;
  color: rgb(3, 3, 3);
  padding: 10px 10px;
  background: linear-gradient(30deg,rgb(74, 64, 250),rgb(255, 255, 255));
  right: 0px;
  border-radius: 10px 10px 10px 10px;
  height: 100%;
  animation-name: show;
  animation-duration: 1s;
  animation-timing-function: ease;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 90%;
}

p.remindParagraf{
  max-width: 100px;
}
p.remindRefer{
  color: white;
}
p.remindRefer{
  color: white;
}

button.showRemindText{
  position: absolute;
  margin-left: 70%;
  background-color: rgb(105, 94, 255);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  outline: none;
}

button.closeRemindText{
  position: absolute;
  margin-left: 70%;
  background-color: rgb(105, 94, 255);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  outline: none;
}

@keyframes show {
  0%{position: absolute;
    opacity: 0;
    right: -500px;}
 
  100%{position: relative;
    right: 0px;
    opacity: 1;}
}

.addNewEvent input:hover{
  background-color: white;
  color: #695eff;
  font-weight: bold;
  transform: scale(1.1);
  transition: all 300ms;
  transform: translate(3);
}

.icon-eliminate-DayEvents-wrapper{
  display: flex;
  align-items: center;
  padding: 2% 2% 2% 2%;
  font-size: 30px;
  line-height: 20px;
  color: white;
}

.title-specific-DayEvents{
  max-width: 800px;
  font-size: 25px;
}

.title-specific-DayEvents p{
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time-DayEvents{
  font-size: 15px;
}

}