/*_________________*/
@font-face {
  font-family: "Comfortaa";
  src: url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
body {
  background-image: linear-gradient(-180deg, black, #06159e);
  min-height: 1000px;
  height: 100%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-stretch: ultra-condensed;
  color: #06159e;
  font-size: 100px;
  text-shadow: 3px 3px 3px black;
  transition: 2s;
}

h2 {
  transition: 1s;
  font-family: "Comfortaa";
  font-weight: 700;
  color: #06159e;
  border-bottom: #06159e 0.5px solid;
  cursor: pointer;
  font-size: 50px;
  text-shadow: 3px 3px 3px #0d0e07;
  width: 500px;
  text-align: right;
}

h2:hover {
  text-shadow: 3px 3px 3px #dfec96;
}

.videoGridShow {
  display: grid;
  grid-template-columns: none none none;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: left;
  align-content: flex-start;
  grid-template-columns: 4fr;
}

.reel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: none;
  border: #dbdbdb none solid;
}

.free {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: none;
  border: #dbdbdb none solid;
}

.art {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: none;
  border: #dbdbdb none solid;
}

.videoGridShow h3 {
  font-family: "Comfortaa";
  color: #6672e0;
  font-size: 25px;
  /*text-shadow: 1px 1px 2px rgb(223, 236, 150);*/
  transition: 2s;
}

#eixu {
  height: 100%;
  width: 100%;
  border-radius: none;
  margin: 5px;
  background-image: url("./img/Eixu.png");
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
}

#quabu {
  height: 100%;
  width: 100%;
  border-radius: none;
  margin: 5px;
  background-image: url("./img/quabu.png");
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
}

#laser {
  height: 100%;
  width: 100%;
  border-radius: none;
  margin: 5px;
  background-image: url("./img/lasers.png");
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
}

#draw {
  height: 100%;
  width: 100%;
  border-radius: none;
  margin: 5px;
  background-image: url("./img/draw.png");
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
}

#draw2 {
  height: 100%;
  width: 100%;
  border-radius: none;
  margin: 5px;
  background-image: url("./img/draw2.png");
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
}

.developerHide {
  transition: 1s;
  height: 2%;
  border-left: #06159e;
}

.developerShow {
  transition: 1s;
  height: 100%;
  border-left: #06159e;
}

.developerShow li {
  list-style: none;
  color: none;
  font-family: none;
  margin-bottom: 20px;
  margin-left: 100px;
}

.developerShow li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  justify-self: center;
  align-self: center;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
