@use './global' as global;

.videoGridShow{
    @include global.grid3(none,none,none,1fr,1fr,1fr,5px,5px);
    grid-template-columns: 4fr;
}
.reel{
    @include global.flex (row,center,center,none,none,100%);
}
.free{
    @include global.flex (row,center,center,none,none,100%);
}
.art{
    @include global.flex (row,center,center,none,none,100%);
}
.videoGridShow h3{
    font-family: global.$fontH2;
    color: rgb(102, 114, 224);
    font-size: 25px;
    /*text-shadow: 1px 1px 2px rgb(223, 236, 150);*/
    transition: 2s;
}

#eixu{
    @include global.backimag (100%,100%,none,'./img/Eixu.png');
    min-width:200px;
    min-height:200px;
}
#quabu{
    @include global.backimag (100%,100%,none,'./img/Quabu.png');
    min-width:200px;
    min-height:200px;
}
#laser{
    @include global.backimag (100%,100%,none,'./img/lasers.png');
    min-width:200px; 
    min-height:200px;
}
#draw{
    @include global.backimag (100%,100%,none,'./img/draw.png');
    min-width:200px; 
    min-height:200px; 
}
#draw2{
    @include global.backimag (100%,100%,none,'./img/draw2.png');
    min-width:200px; 
    min-height:200px;
}
